*{
  box-sizing: border-box;
  font-family: "inter";
  font-size: 20px;
}

body{
  margin: 0;
}

.navbar{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 10px 0px;
}

.list{
  max-width: 1200px;
  min-width: 700px;
  margin: auto;
}

.navbar div{
  color: #FFFFFF;
}

.icon{
  width: 50px;
}

.list-item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 40px;
  border-bottom: 7px solid rgb(248, 245, 245);
  padding-bottom: 20px;
}

.head{
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.head > img{
  height: 20px;
  position: relative;
  top: 3px;
}

.location{
  letter-spacing: 3px;
}

.head > a{
  color: grey;
  margin-left: 25px;
  font-size: 15px;
}

.location--img{
  height: 250px;
  width: 175px;
  object-fit: cover;
  border-radius: 5px;
}

.text > h2{
  font-size: 45px;
  margin: 10px 0px 25px 0px ;
}

.text > p{
  font-size: 15px;
  opacity: 70%;
}

.bottom-border{
  border-bottom: 10px solid gray;
}